body {
    background: url(./smartcity_od.jpg);
    -webkit- background-size: cover;
    -moz- background-size: cover;
    -o- background-size: cover;
    background-size: cover;
}

#center{
    width: 800px;
    margin: 100px auto;
}
h1{
    color:white;
    width: 400px;
    margin: 0px auto;
    text-align: center;
    font-size: 80px;
}
h2{
    color:white;
    width: 400px;
    margin: 100px auto 20px auto;
    text-align: center;
}
#text{
    width:540px;
    margin: 0px auto;
}
input{
    padding: 20px;
    width: 250px;
}
button {
    text-align: center;
    display: block;
    width: 200px;
    margin: 10px auto;
    border-radius: 3em;
    padding: 2%;
    letter-spacing: 1em;
    font-family: fantasy;
    font-size: 1em;
    background-color: gold;
    opacity: 0.4;
}

p {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-family: fantasy;
}

footer {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-family: fantasy;
}