body {
    background: url(./smartcity_od.jpg);
    -webkit- background-size: cover;
    -moz- background-size: cover;
    -o- background-size: cover;
    background-size: cover;
}

button {
    text-align: center;
    margin: 10% 0 0 40%;
    border-radius: 3em;
    padding: 2%;
    letter-spacing: 1em;
    font-family: fantasy;
    font-size: 1em;
    background-color: gold;
    opacity: 0.4;
}

p {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-family: fantasy;
}

footer {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-family: fantasy;
}